.textBox {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 2vh;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.textBox:focus {
  background-color: #F2F2F2;
}

button {
  position: fixed;
  bottom: 25vh;
  right: 20vh;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
