<section class="container">
  <button class="fas fa-bold fa-2x" (click)="emitValue(CommandType.BOLD)"></button>
  <button class="fas fa-italic fa-2x" (click)="emitValue(CommandType.ITALIC)"></button>
  <button class="fas fa-link fa-2x" (click)="emitValue(CommandType.LINK)"></button>
  <button class="fas fa-list-ul fa-2x" (click)="emitValue(CommandType.UNORDERED_LIST)"></button>
  <button class="fas fa-list-ol fa-2x" (click)="emitValue(CommandType.ORDERED_LIST)"></button>
  <button class="fas fa-align-center fa-2x" (click)="emitValue(CommandType.CENTER)"></button>
</section>
