.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.editor {
  height: 50%;
  width: 80%;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: flex;
}

app-text-area {
  width: 100%;
}
